@use '../variables';
@use '../mixins';

#secundary-projects {
    z-index: 1;
    width: 100%;
    min-height: 60vh;
    position: relative;
    background-image: url(../../img/bg-secundary-projects.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5vh 10vw 1rem;
    display: grid;
    grid-template-rows: repeat(4, 8vh);
    grid-auto-rows: minmax(5px, auto);
    gap: 1rem;

    #secundary-projects-title {
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
    }

    #carousel-secundary-projects {
        height: 100%;
        grid-row-start: 2;
        grid-row-end: 6;

        //aqui vai ficar o componente dos projetos secundarios, o carrossel  
    }

    h2 {
        font-size: 2rem;
        color: variables.$text-color-secondary;
    }


    h3 {
        font-size: 1.5rem;
        color: variables.$text-color-secondary;
    }


    p {
        font-size: 1rem;
        color: variables.$text-color-secondary;
    }
}